*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body_{
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
}
.container{
    width: 40rem;
    margin: 0rem auto;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.heading{
    /* background-color: bisque; */
    text-align: center;
    font-weight: bold;
    /* font-size: 1.5rem; */
    text-decoration: underline;
}
.main_img{
    display: flex;
    align-items: center;
    width: 35rem;
    height: 20rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.main_text{
    width: 40rem;
    padding: 20px;
    font-size: 1rem;
}
.row{
    display: flex;
    /* width: 80vh; */
    /* background-color: violet; */
    justify-content: space-between;
    padding: 20px;
    font-size: 1.2rem;
    width: 35rem;
}
.price{
    background-color: rgb(241, 237, 7);
    border-radius: 5rem;
    padding: .3rem;
}
.btn{
    /* text-align: center; */
    text-decoration: none;
    background-color: rgb(240, 116, 229);
    /* display: flex; */
    /* justify-content: center; */
    /* width: 30vh; */
    display: block;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.7rem 2.5rem;
    color: black;
    /* font-size: bold; */
    font-weight: 700;
}
@media(max-width:780px){
 .container{
     width: 20rem;
 } 
 .main_img{
     width: 30rem;
 }
 .row{
     width: 30rem;
 }
 .main_text{
     width: 30rem;
 }
   
}
/* @media only screen and(max-width:525px){
.container{
    width: 25rem;
}
.main_img{
    width: 25rem;
}
.row{
    width: 25rem;
}
.main_text{
    width: 25rem;
}
}
@media only screen and(max-width:430px){
    .container{
        width: 19rem;
    }
    .main_img{
        width: 19rem;
    }
    .row{
        width: 19rem;
    }
    .main_text{
        width: 19rem;
        font-size: 1.2rem;
    }
} */
@media(max-width:500px){
    .container{
        width: 20rem;
    }
    .main_img{
        width: 20rem;
    }
    .row{
        width: 20rem;
    }
    .main_text{
        width: 20rem;
    }
}
@media(max-width:340px){
    .container{
        width: 19rem;
    }
    .main_img{
        width: 19rem;
    }
    .row{
        width: 19rem;
    }
    .main_text{
        width: 19rem;
    }

}