*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body_{
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
}
.one{
    width: 100%;

}
.container{
    /* width: 60%; */
    width: 40rem;
    margin: 2rem auto;
    padding: 10px 10px;
    /* max-width: 1100px; */
}
.heading{
    background-color: bisque;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
}
.main{
    /* background-color: red; */
    padding: 10px 10px;
   
    
    /* border: 1px solid;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem; */
}
.main_img{
    /* width: 40rem; */
    /* height:20rem ; */
    width: 100%;
    height: 20rem;
    border: 1px solid transparent;

    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    margin-top: 2rem;
   
}
.main_text{
    padding: 20px 10px;
    font-size: 1.1rem;
}
.row{
    display: flex;
    /* width: 80vh; */
    /* background-color: violet; */
    justify-content: space-between;
    padding: 20px 0;
}
.row p{
    background-color: rgb(241, 237, 7);
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    margin: 1px solid transparent;
    border-radius: 5px;
    font-size: 1.1rem;
}
.button{
    text-align: center;
    text-decoration: none;
    background-color: rgb(240, 116, 229);
    display: flex;
    justify-content: center;
    width: 30vh;
    padding: 10px 0;
    color: black;
    /* font-size: bold; */
    font-weight: bold;
}
@media only screen and(max-width:730px){
 .container{
     width: 30rem;
 }   
}
@media only screen and(max-width:525px){
.container{
    width: 25rem;
}
}
@media only screen and(max-width:430px){
    .container{
        width: 2rem;
    }
}