*{
    margin: 0;
    padding: 0;
}
.body{
    font-size: 1.3rem;
}
.one{
    width: 100%;
    padding: 10px 0;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
    /* background-color: #ff0000; */
    display: flex;
}
.main_one{
    width: 100%;
    padding: 20px 10px;
}
.main_one h1{
    font-weight: bold;
    font-size: 2.5rem;
    width:30% ;
}
.main_one p{
    font-size: 1.2rem;
    width: 35%;
    padding: 10px 0;
}
.main_two{
    width: 40%;
    padding: 10px 10px;
}
.sub_container{
    /* background-color: aquamarine; */
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
    max-width: 1100px;
    /* display: flex; */
}
.main2{
    background-color: burlywood;
    padding: 10px 10px;
    width: 30%;
    border: 1px transparent;
    border-radius: 10px;
}
.mar1{
margin: 0;
}

.mar2{
    margin-top: 1rem;
    /* padding-bottom: 1rem; */
}
.mar3{
    margin-top: 2rem;
    /* padding-bottom: 2rem; */
}
.row{
    display: flex;
    /* background-color: red; */
}
.space{
    justify-content: space-between;
}
img{
    width: 2rem;
    border: 1px transparent;
    border-radius: 100px;
    padding: 10px 10px;
}
.text{
    line-height: 1.5;
}

h5{
    color: gray;
}
.some_text{
    color: rgb(53, 51, 51);
}